---
title: Case Studies
pagetitle: Case Studies
theme: casestudy
directory_index: false
---
<div class="container">
  <div class="row">
    <div class="col-md-6 pt-5 mb-3">
      <h1>Case Studies</h1>
      <p>These case studies describe projects which have used the techniques described in the Playbook.</p>
    </div>
  </div>
</div>

<%#
  <div class="row g-4 py-5 mb-5 row-cols-1 row-cols-lg-3 d-flex border-bottom">

    <div class="feature col flex align-items-stretch align-self-stretch">
      <div class="feature-path align-items-stretch align-self-stretch">
        <h3 class="text-body-emphasis">Case Study by Role</h3>
        <p>Quidam officiis similique sea ei, vel tollit indoctum efficiendi ei, at nihil tantas platonem eos. </p>
        <a href="#" class="icon-link" style="align-self:flex-end">
          View Case Studies by Role
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>

    <div class="feature col align-items-stretch align-self-stretch">
      <div class="feature-path align-items-stretch align-self-stretch">
        <h3 class="text-body-emphasis">Beginner or Expert?</h3>
        <p>Nam natum volutpat eu. Natum elitr vel te. Id qui purto dicit, bonorum minimum et sit. </p>
        <a href="#" class="icon-link" style="align-self:flex-end">
          View Case Studies by Experience
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>

    <div class="feature col  align-items-stretch align-self-stretch">
      <div class="feature-path align-items-stretch align-self-stretch">
        <h3 class="text-body-emphasis">Planning to Production</h3>
        <p>Lorem deterruisset ea vis, usu eu hinc lorem inciderint, et mel solum autem molestiae. </p>
        <a href="#" class="icon-link" style="align-self:flex-end">
          View Case Studies by Project Maturity
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>

    </div>

  </div>
%>

<div class="featured-case-study-box d-flex">
    <div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-sm-8 col-md-6">
        <%= image_tag 'blank-image.png', :width => '500', :class => 'py-5' %>

      </div>
      <div class="col-lg-6">
        <h1 class="fw-bold lh-1 mb-3">mCODE Standard and CodeX Community</h1>
        <div class="row border-bottom py-4 mb-3">
          <div class="col-4">
            <span class="field-label">Organization</span><br/>
            <strong>MITRE Corp.</strong>
          </div>
          <div class="col-4">
          </div>
        </div>
        <p class="py-3">An overview of the mCODE standard, the CodeX Community, and progress that suggests these might be good models for other specialties to follow</p>
        <div class="row py-4 mb-3">
          <div class="col-4">
            <span class="field-label">Maturity</span><br/>
            <strong>In Production</strong>
          </div>
          <div class="col-4">
            <span class="field-label">Experience</span><br/>
            <strong>High Expertise</strong>
          </div>
          <div class="col-4">
            <span class="field-label">Suitable Roles</span><br/>
            <strong>Technical Lead</strong><br>
            <strong>Research Lead</strong>
          </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" href="mcode_codex.html" class="btn btn-primary btn-lg px-4 me-md-2">View Case Study</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%# 
<div class="container">
  <div class="row">
    <div class="col-md-9">

      <div class="feature-left">
        <img class="mb-5" src="/images/blank-image.png" style="max-width:300px">
        <h3 class="fs-2 text-body-emphasis">Overview </h3>
        <p>Learn how developing a core set of structured data elements for oncology electronic health records changed oncology research.</p>
      </div>
      <p>Mea an decore veritus probatus. Nec ea affert verterem. Vix probo semper et, mea simul graeco diceret te. Qui no stet ferri qualisque, ut clita scripserit nec. Ei mei fabellas gubergren, ius nostro senserit adversarium te. Vix dicam dolore cu. Mel erat timeam scriptorem an. Sit alii tantas viderer no.</p>
    </div>
  </div>

</div>
%>