---
pagetitle: The mCODE Standard and CodeX Community
title: mCODE and CodeX
theme: casestudy
---
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1 pt-5 mb-3">
      <h1 class="super-title">Case Study</h1>
      <h2>The mCODE Standard and CodeX Community</h2>
        
      <p>Quidam officiis similique sea ei, vel tollit indoctum efficiendi ei, at nihil tantas platonem eos. Mazim nemore singulis an ius, nullam ornatus nam.</p>
      
      <h3>mCODE Standard</h3>
      <p>A standard, FHIR-based core set of common data elements for cancer that is computable, clinically applicable and available in every electronic health record for patients with a cancer diagnosis.</p>
      
      <h3>CodeX Coommunity</h3>
      <p>A Member-driven HL7 FHIR Accelerator hosting a growing community working together to enable the  needed to drive substantial improvements around the most important challenges health. Initial CodeX Use Cases (projects) focused on improving, collecting, and sharing mCODE-based data to improve cancer care and research.</p>


    </div>
  </div>
</div>