---
pagetitle: Radiation Therapy Treatment Data
title: Radiation Therapy Treatment Data
theme: casestudy
---
<div class="container">
  <div class="row">
    <div class="col-md-3 pt-5 mb-3">
    </div>
    <div class="col-md-9 pt-5 mb-3">
      <h1 class="super-title">Case Study</h1>
      <h2>Radiation Therapy Treatment Data Case Study</h2>
      <p class="lead">This page will showcase the RTTD case study.</p>
      <h3>Community Building</h3>
      <p>In March 2020, the <%= link_to("American Society for Radiation Oncology","https://www.astro.org/") %> (ASTRO) joined CodeX™ as a founding member with a proposal to standardize radiation therapy treatment summaries. They suggested leveraging work published by ASTRO and others in the “<%= link_to("Minimum Data Elements for Radiation Oncology: An American Society for Radiation Oncology Consensus Paper","https://www.practicalradonc.org/article/S1879-8500(19)30232-2/fulltext") %>”. ASTRO noted that the radiation therapy community had been interested in standardizing the complex treatment data that is gathered before, during, and after a course of radiation therapy treatment, but did not have the infrastructure or FHIR expertise to sufficiently act on this idea. ASTRO joined CodeX with the vision of leveraging the HL7 FHIR Accelerator’s platform, connections to other industry partners, expertise in FHIR modeling, and relationships with HL7 leadership to begin planning the use case. </p>
      
    </div>
  </div>
</div>
