---
title: Solutions
theme: solutions
directory_index: false
---
<div class="container">
  <div class="row">
    <div class="col-md-6 pt-5 mb-3">
      <h1>Solutions</h1>
      <p>This page will contain descriptions and links to existing solutions referenced by the playbook or case studies. This can include other websites, presentations, etc. that are useful for others.</p>
    </div>
  </div>

</div>