<div class="breadcrumb-box">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb py-2 mb-0">
        <%= breadcrumbs(current_page, separator: '', wrapper: "li class='breadcrumb-item'" ) %>
      </ol>
    </nav>
  </div>
</div>