<div class="sidebar-menu">
	<h4>On This Page</h4>
	<ul>
		<li><a href="#community_building">Community Building</a></li>
		<li><a href="#use_cases_planning">Use Cases & Planning</a></li>
		<li><a href="#standards_development">Standards Development</a></li>
		<li><a href="#implementation_testing">Implementation & Testing</a></li>
		<li><a href="#adoption_value">Adoption & Value</a></li>
	  <%= partial "partials/back_to_top_list_item" %>
	</ul>
</div>
