<div class="sidebar-menu">
<h4>On This Page</h4>
<ul>
  <%= content_tag(:li, link_to("mCODE and CodeX", "mcode_codex.html", nav_active('casestudies/mcode_codex')), nav_active('casestudies/mcode_codex')) %>
  	<li class="sub"><a href="#how_it_started">How it Started</a></li>
	  <li class="sub"><a href="#first_use_case">First Use Case</a></li>
  	<li class="sub"><a href="#growing_community">Growing the Community</a></li>
  	<li class="sub"><a href="#building_community">Building the Community</a></li>
  	<li class="sub"><a href="#delivering_value">Delivering Value</a></li>
  	<li class="sub"><a href="#growth_impact">Growth and Impact</a></li>
  	<li class="sub"><a href="#conclusions">Conclusions</a></li>
</ul>

</ul>
</div>
