<div class="sidebar-menu">
	<h4>On This Page</h4>
	<ul>
	  <%= content_tag(:li, link_to("PACIO", "pacio.html", nav_active('casestudies/pacio')), nav_active('casestudies/pacio')) %>
	  	<li class="sub"><a href="#how_it_started">How it Started</a></li>
		  <li class="sub"><a href="#first_use_case">First Use Case</a></li>
	  	<li class="sub"><a href="#design_principles">Design Principles</a></li>
	  	<li class="sub"><a href="#starting_community">Starting the Community</a></li>
	  	<li class="sub"><a href="#building_community">Building the Community</a></li>
	  	<li class="sub"><a href="#delivering_value">Delivering Value</a></li>
	  	<li class="sub"><a href="#growth_impact">Growth and Impact</a></li>
	  	<li class="sub"><a href="#resources">Resources</a></li>
	  	<%= partial "partials/back_to_top_list_item" %>
	</ul>
</div>