<nav class="sidebar-menu navbar" id="playbook_menu">
<h4>On This Page</h4>
<ul>
  <%= content_tag(:li, link_to("Standards Development Deep Dive", "tech-standards.html", nav_active('resources/tech-standards')), nav_active('resources/tech-standards')) %>
  <% if show_sub('resources/tech-standards') %> 
    <li class="sub"><a href="#clinical_requirements">Clinical Requirements</a></li>
    <li class="sub"><a href="#fhir_ig_development">FHIR IG Development</a></li>
    <li class="sub"><a href="#hl7_standardization">HL7 Standardization</a></li>
   	<%= partial "partials/back_to_top_list_item" %>
  <% end %>
</ul>
</nav>
