<div class="feature col">
  <div class="feature-icon d-inline-flex align-items-center justify-content-center">
    <img src="images/circle-star.svg" style="width:48px">
  </div>
  <h3 class="fs-2 text-body-emphasis"><%= title %></h3>
  <p><%= body %></p>
</div>
