:root {
  --link-color: #0055b5;
  --footer-bkg: #eeeeee;
  --copyright-bkg: #dedede;
  --breadcrumb-bkg: #F0F7FE;
  --breadcrumb-border-color: #BFE0FE;
  --hero-box-bkg: #F0F7FE;
  --playbook-bkg: #F0F7FE;
  --casestudies-bkg: #EBF7F4;
  --card-title-bkg: #F0F7FE;
  --bs-btn-primary: #457ed1;
  --list-border: #dddddd;
  --box-border: #dddddd;
  --resources-border:#D48CA1;
  --skip-nav-bkg: #0055b5;
  --bkg-primary: #fff;
  --bkg-secondary: #f0f2f1;
  --primary-color: #c93905;
  --search-bar: #707070;
  --border: #dddddd;
  --text: #333; }

body {
  background-color: #fff;
  color: #333;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative; }

.layout-grid {
  display: -ms-grid;
  display: grid;
  min-height: 100dvh;
  -ms-grid-rows: auto auto 1fr auto;
  grid-template-rows: auto auto 1fr auto; }

a {
  color: var(--link-color); }

#content li {
  margin-bottom: 1em; }

#content li ul li {
  margin-bottom: 0.4em; }

#content ul.value-list li {
  margin-bottom: 0.75em; }

h4 > a:focus, h4 > a:hover, li > a:focus, li > a:hover, p > a:focus, p > a:hover, td > a:focus, td > a:hover {
  background-color: var(--breadcrumb-bkg); }

h1 {
  font-weight: bold; }

h3 {
  margin-top: 2em; }

figure {
  margin: 1em 0; }
  figure figcaption {
    margin-top: 1em;
    font-size: 0.95em;
    font-style: italic;
    color: #595959;
    padding: .5em 0;
    display: table; }
    figure figcaption::before {
      content: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20512%20384%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20id%3D%22image%22%20fill%3D%22%23bbbbbb%22%20fill-rule%3D%22nonzero%22%3E%3Cpath%20d%3D%22M464%2C384%20L48%2C384%20C21.49%2C384%200%2C362.51%200%2C336%20L0%2C48%20C0%2C21.49%2021.49%2C0%2048%2C0%20L464%2C0%20C490.51%2C0%20512%2C21.49%20512%2C48%20L512%2C336%20C512%2C362.51%20490.51%2C384%20464%2C384%20Z%20M112%2C56%20C81.072%2C56%2056%2C81.072%2056%2C112%20C56%2C142.928%2081.072%2C168%20112%2C168%20C142.928%2C168%20168%2C142.928%20168%2C112%20C168%2C81.072%20142.928%2C56%20112%2C56%20Z%20M64%2C320%20L448%2C320%20L448%2C208%20L360.485%2C120.485%20C355.799%2C115.799%20348.201%2C115.799%20343.514%2C120.485%20L208%2C256%20L152.485%2C200.485%20C147.799%2C195.799%20140.201%2C195.799%20135.514%2C200.485%20L64%2C272%20L64%2C320%20Z%22%20id%3D%22Shape%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      height: 1em;
      width: 1.9em;
      padding-right: 0.5em;
      display: table-cell;
      vertical-align: baseline;
      position: relative;
      top: 0.05em; }

header.header {
  position: relative;
  z-index: 2000; }

header ul.nav a.nav-link {
  color: black;
  font-weight: bold; }
  header ul.nav a.nav-link:hover {
    background-color: #f5f5f6; }

.note {
  font-style: italic; }

.breadcrumb-box {
  background-color: var(--breadcrumb-bkg);
  border-top: 1px solid var(--breadcrumb-border-color);
  border-bottom: 1px solid var(--breadcrumb-border-color); }

body.playbook .breadcrumb-box, body.playbook .copyright, body.about .breadcrumb-box, body.about .copyright, body.home .breadcrumb-box, body.home .copyright {
  background-color: var(--playbook-bkg);
  border-top: 1px solid var(--breadcrumb-border-color);
  border-bottom: 1px solid var(--breadcrumb-border-color); }

body.casestudy .breadcrumb-box, body.casestudy .copyright {
  background-color: #EBF7F4;
  border-top: 1px solid #9FC8B6;
  border-bottom: 1px solid #9FC8B6; }

body.solutions .breadcrumb-box, body.solutions .copyright {
  background-color: #FFEDC9;
  border-top: 1px solid #FFC550;
  border-bottom: 1px solid #FFC550; }

body.resources .breadcrumb-box, body.resources .copyright {
  background-color: #feecf1;
  border-top: 1px solid #D48CA1;
  border-bottom: 1px solid #D48CA1; }

#skiptocontent a {
  padding: 5px 10px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  background-color: var(--skip-nav-bkg);
  -webkit-transition: top .5s ease-out;
  transition: top .5s ease-out;
  z-index: 100; }
  #skiptocontent a:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    outline-color: transparent;
    outline: none;
    -webkit-transition: top .05s ease-in;
    transition: top .05s ease-in; }

.breadcrumb .breadcrumb-item a {
  color: black;
  text-decoration: none; }

.breadcrumb .breadcrumb-item:first-child a {
  font-weight: bold; }

.breadcrumb .breadcrumb-item:last-child a {
  color: #505050; }

.hero-box {
  background-color: var(--hero-box-bkg); }

.featured-case-study-box {
  background-color: var(--casestudies-bkg);
  margin-bottom: 2em; }

footer {
  background-color: var(--footer-bkg);
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), color-stop(55%, #fafafa), to(white));
  background: linear-gradient(180deg, #f4f4f4 0%, #fafafa 55%, white 100%);
  padding: 4vh 0 3vh; }
  footer > .container {
    padding-top: 1em;
    border-top: 1px solid #ccc; }
  footer ul {
    padding-left: 0; }
    footer ul li {
      list-style: none;
      margin: 0; }
  footer a:focus,
  footer a:hover {
    background-color: var(--footer-bkg); }

.feature-img {
  margin-bottom: 3rem;
  max-width: 360px;
  max-height: 225px; }

.feature-path {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 2em;
  -ms-grid-row-align: stretch !important;
      align-self: stretch !important;
  height: 100%; }
  .feature-path h3 {
    font-size: 1.3rem; }

.sidebar-menu {
  position: sticky;
  top: 50px; }
  .sidebar-menu h4 {
    font-weight: bold;
    margin-bottom: 1.5rem; }
  .sidebar-menu ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.9rem; }
    .sidebar-menu ul li {
      border-top: 1px solid #eeeeee;
      font-weight: bold; }
      .sidebar-menu ul li a {
        display: block;
        text-decoration: none;
        padding: 0.5em;
        color: #000; }
        .sidebar-menu ul li a:hover {
          background-color: #F0F7FE; }
    .sidebar-menu ul li:last-child {
      border-bottom: 1px solid #eeeeee; }
    .sidebar-menu ul li.active a {
      color: white;
      background-color: #43507A; }
    .sidebar-menu ul li.sub {
      font-weight: normal; }
      .sidebar-menu ul li.sub a {
        padding-left: 1.5em; }
        .sidebar-menu ul li.sub a.active {
          background-color: #F0F7FE; }

body.casestudy .sidebar-menu li.active a, body.casestudy .sidebar-menu li.active a:hover {
  color: white;
  background-color: #477460; }

body.casestudy .sidebar-menu li a:hover {
  background-color: #EBF7F4; }

body.resources .sidebar-menu li.active a, body.resources .sidebar-menu li.active a:hover {
  color: white;
  background-color: #943668; }

body.resources .sidebar-menu li.sub a.active {
  background-color: #feecf1; }

body.resources .sidebar-menu li a:hover {
  background-color: #feecf1; }

.about-author {
  margin-top: 4em;
  border-top: 1px solid #eeeeee;
  padding-top: 4em;
  margin-bottom: 4em; }
  .about-author .h5 {
    letter-spacing: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #999999; }

p.lead {
  margin-top: 2em; }

ol.section-list > li {
  margin: 1rem 0; }
  ol.section-list > li a:first-child {
    font-weight: bold; }

ol.principles-list > li {
  margin: 1rem 0 2rem;
  font-size: 1.25rem; }
  ol.principles-list > li::marker {
    color: #556688;
    font-weight: bold; }
  ol.principles-list > li ul {
    list-style: none;
    padding-left: 1rem;
    margin-top: 1rem;
    border-left: 1px solid var(--list-border);
    font-size: 1rem; }
    ol.principles-list > li ul li {
      margin-bottom: 1em; }

ul.planning-list {
  margin-bottom: 3em; }

ul.planning-list > li {
  margin: 1rem 0 2rem; }
  ul.planning-list > li::marker {
    color: #556688;
    font-weight: bold; }
  ul.planning-list > li ul {
    list-style: none;
    padding-left: 1rem;
    margin-top: 1rem;
    border-left: 1px solid var(--list-border);
    font-size: 1rem; }
    ul.planning-list > li ul li {
      margin-bottom: 1em; }

ol.action-list > li {
  font-weight: bold;
  margin-bottom: 1em; }
  ol.action-list > li ul li {
    font-weight: normal; }

ul.action-list > li {
  font-weight: bold;
  margin-bottom: 1em; }
  ul.action-list > li ul li {
    font-weight: normal; }

ul.resource-list > li ul {
  list-style: none;
  padding-left: 1rem;
  margin-top: 1rem;
  border-left: 1px solid var(--list-border);
  font-size: 1rem; }
  ul.resource-list > li ul li {
    margin-bottom: 1em; }

.playbook-bottom-navigation {
  display: flex;
  margin: 3rem 0;
  justify-content: space-between;
  font-weight: bold; }
  .playbook-bottom-navigation a {
    color: #000;
    text-decoration: none; }
  .playbook-bottom-navigation a.btn.btn-primary {
    color: #fff;
    background-color: var(--bs-btn-primary); }
  .playbook-bottom-navigation a.btn.btn-outline-primary:hover {
    background-color: var(--bs-btn-primary); }

.copyright {
  padding: 2vh 0;
  background-color: var(--copyright-bkg); }
  .copyright p {
    font-size: 0.9em;
    color: #333333;
    margin: 0; }

hr {
  margin-top: 2em; }

hr + h2 {
  margin: 1.5em 0 1em 0; }

h2 + h3 {
  margin-top: 1em; }

.date {
  color: #999999;
  font-size: 0.9rem;
  margin-bottom: 0.5em; }

.field-label {
  color: #999999; }

.blockquote {
  border-left: 4px solid #89325A;
  padding-left: 2rem;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .blockquote .attrib {
    font-weight: bold;
    font-size: 0.8em;
    color: #777;
    text-transform: uppercase; }

h1.super-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #888;
  font-size: 1.5rem; }

h2 {
  font-weight: bold; }

div.community-growth-items h4 {
  padding-top: 2em;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px; }

div.community-growth-items p.stakeholder-value {
  font-weight: bold;
  font-style: italic; }

.embed-video {
  text-align: center;
  margin: 1em 0; }

.flex-cards {
  display: flex;
  gap: 1em; }

.flex-cards > .card {
  flex-basis: 100%; }

.flex-cards .card-body ul {
  padding-left: 1rem; }

.card-title {
  background-color: var(--card-title-bkg);
  padding: 0.5rem 1rem; }

.small-figure {
  text-align: center; }

.resource-section-container {
  display: -ms-grid;
  display: grid;
  gap: 1.5em;
  margin-bottom: 2em; }
  @media (min-width: 35em) {
    .resource-section-container {
      grid-auto-flow: column;
      grid-auto-columns: 1fr; } }
.resource-list-container {
  display: -ms-grid;
  display: grid;
  gap: 1.5em; }
  @media (min-width: 70em) {
    .resource-list-container {
      grid-auto-flow: column;
      grid-auto-columns: 1fr; } }
.resource-section {
  border: 1px solid var(--box-border);
  border-top-width: 5px;
  border-top-color: var(--resources-border);
  padding: 2em; }
  .resource-section h3 {
    margin-top: 0;
    font-weight: bold; }
  .resource-section ul li::marker {
    color: #ccc; }
  .resource-section section {
    margin: 1.5em 0;
    border-bottom: 1px solid var(--box-border); }
  .resource-section .title {
    display: flex;
    align-content: baseline;
    align-items: baseline;
    justify-content: space-between; }
    .resource-section .title a {
      font-size: 1rem; }
  .resource-section h4 a {
    text-decoration: none; }

.playbook-roles .role-sections-list {
  border-top: 1px solid var(--box-border);
  padding-top: 1em;
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  .playbook-roles .role-sections-list li {
    margin-bottom: 0.5em; }
  .playbook-roles .role-sections-list a.sub {
    padding-left: 1em;
    border-left: 1px solid var(--box-border); }

.playbook-roles .role-row {
  margin-top: 1em;
  margin-bottom: 1em; }

.playbook-roles .role-row h3 {
  margin-top: 0; }

/* Search */
.search-container {
  flex-grow: 1;
  max-width: 100%;
  margin: 0 1rem;
  z-index: 2000; }

.search-active .search-results {
  display: block; }

.search-results {
  position: absolute;
  display: none;
  left: 15px;
  top: 100%;
  width: 100%;
  text-align: left;
  max-height: calc(100vh - 200%) !important;
  min-width: 15em;
  overflow-y: auto;
  background-color: var(--bkg-primary);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.38);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.38);
  z-index: 2005; }

.search-results ul {
  list-style: none; }
  .search-results ul li {
    margin-bottom: 0.3em; }

.search-results-list {
  font-size: 1em;
  padding-left: 0;
  margin-bottom: 0.25rem;
  list-style: none; }

.search-results-list-item {
  padding: 0;
  margin: 0; }

.search-result {
  display: block;
  padding: 0.25rem 0.75rem;
  text-decoration: none; }

.search-result:hover,
.search-result.active {
  background-color: var(--bkg-secondary); }

.search-result-title {
  display: inline-block;
  width: 35%;
  padding-right: 0.5rem;
  vertical-align: top; }

.search-result-doc {
  display: flex;
  align-items: center;
  word-wrap: break-word; }

.search-result-doc.search-result-doc-parent {
  color: var(--text);
  font-size: 0.8rem; }

.search-result-doc-title {
  color: #555555; }

.search-result-section {
  word-wrap: break-word; }

.search-result-rel-url {
  display: block;
  margin-left: 1.5rem;
  overflow: hidden;
  color: var(--search-bar);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1em; }

.search-result-previews {
  display: inline-block !important;
  vertical-align: top;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-left: 0.5rem;
  color: var(--search-bar);
  word-wrap: break-word;
  border-left: 1px solid var(--border);
  text-decoration: none;
  font-size: 0.9em;
  width: 60%; }

.search-no-result {
  padding: 0.5rem 0.75rem;
  font-size: 12px !important; }

.search-active .search-overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity ease 400ms, width 0s, height 0s;
  transition: opacity ease 400ms, width 0s, height 0s;
  z-index: 1999; }

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity ease 400ms, width 0s 400ms, height 0s 400ms;
  transition: opacity ease 400ms, width 0s 400ms, height 0s 400ms; }

.search-active #header {
  z-index: 2000; }

.search-active #search-input {
  border: 0; }

.search-result-highlight {
  background-color: #FFEAA7; }

mark {
  scroll-margin-top: 100px;
  padding: 0.1875em 0; }

.invisible {
  visibility: hidden; }

.back-to-top-list-item {
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s; }

.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }
