---
title: Adoption & Value
pagetitle: Adoption & Value
theme: playbook
---

<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>  
    </div>
  
    <div class="col-md-9">
      <h2>Adoption & Value</h2>
      <p class="lead">Adoption in the real world is best driven by understanding - within the Planning track - what forces will move the market. Forces include user demands, Government mandates, and the promise of improved care and research. Value in the real world depends on the level of adoption and the quality of the underlying, new standards-based processes and systems being adopted.</p>

 <p>The graphic below provides a very rough illustration of the market forces that should be understood and leveraged to drive the standards effort as a whole and adoption in particular. Push forces result from stakeholders requiring use of new standards. Pull forces result from stakeholders requesting products that benefit from standards-based solutions.</p>

      <p><%= image_tag 'Community-Forces.png', :width => '100%', :class => 'py-5' %></p>

<p>Experience shows that if work in the other tracks (e.g., Community Building, Use Cases & Planning, Standards Development, Implementation & Testing) has been done appropriately, the Use Case team should also have a clear view - even before the first system or process has been deployed with new standards - whether the prospects for Community adoption and value are strong or not.</p>

<p>A variety of resources are useful in driving adoption and measuring value. The Use Case Champions and their organizations (e.g., medical societies, vendors, etc.) are key, as they know, can communicate with, and often have influence across the Comnmunity of potential adopters. Champioins understand the market forces and how to leverage them.It's useful to track and communicate about adoption and the associated value for care and research. Publications of results (peer reveiwed, popular press, etc.) are useful.</p> 

      <h3>Leverage community and outcomes to motivate widespread demand by users, integration into systems and processes</h3>
      <p>Health software vendors and related support companies will be motivated to invest in updates that enable new aspects of the Use Case when...</p>
      <ul>
        <li>the pilots demonstrate potential value (increased benefit, decreased cost ...)</li>
        <li>customers (providers, payers, researchers, etc.) demand such updates.</li>
        <li>Government regulations and rules require such updates</li>
        <li>in some cases, Payers or other stakeholders requires such updates</li>
        <li>the vendors see a competitive advantage</li>
        <li>someday, patients and caregivers will demand service levels that require interoperability</li>
    </ul>
    <p>The steps documented leading to this point all should be aligned to maximize the possibility that all of the above are true.</p>
    
<h3>Measure improvements to patient care and research across a growing community of stakeholders</h3>
    <p>From the start of adoption of the new standard and of the systems and workflows it powers, it will be important to measure the costs and benefits through the new workflow. Such assessments will help improve the standards, workflows, and user interfaces, and (when resutls are positive), help accelerate adoption and value in an exlarging community of users. </p>
<p>See the <%= link_to("Delivering Value", "/casestudies/mcode_codex.html#delivering_value") %> and <%= link_to("Growth and Impact", "/casestudies/mcode_codex.html#growth_impact") %> sections of the mCODE Standard and CodeX Community Case Study for examples of the measurement and communication of value for the mCODE standard and associated Use Cases.</p>
<p>[NOTE: Add more]


