---
title: Implementation
pagetitle: Implementation
theme: playbook
---

<div class="container pt-5">

  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>  
    </div>
  
    <div class="col-md-9">
      <h2>Implementation & Testing</h2>
      <p class="lead">Introductory paragraph describing implementation and testing.</p>
    <div class="playbook-bottom-navigation">
        <div class="previous">  <%= link_to("Prev: Use Cases & planning", "use_cases_planning.html") %></div>
        <div class="next"><%= link_to("Next: Implementation & Testing", "implementation.html") %></div>
      </div>
    </div>
  </div>
</div>
