---
title: Introduction
pagetitle: Introduction
theme: playbook
---

<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>
    </div>
    <div class="col-md-9">
      <div class="date">Mar 21 2024</div>
      <h2>Introduction</h2>
      <p class="lead">The CodeX Specialty Playbook is a useful set of steps to help future health specialties to succeed in creating and adopting standard health data elements for their domain.</p>
      <blockquote class="blockquote">
        &ldquo;Malesuada nunc vel risus commodo. Integer quis auctor elit sed vulputate mi sit amet mauris. Blandit aliquam etiam erat velit scelerisque in.&rdquo; - <span class="attrib">Famous Person, CompanyName</span>
        </blockquote>

      <h3 id="motivation">Motivation for this Site</h3>
      <p>The success of the CodeX oncology stakeholders to build out Use Case projects around mCODE, and the increasing adoption of CodeX Use Case workflows based on mCODE has led other specialties to ask questions such as:  What are CodeX and mCODE?  What impact are they having? How and why did you proceed the way you did? How could my specialty replicate your success or even collaborate?  These questions are some of the motivations that led to this site.</p>
      <p>Also, the time is right for other specialties to create FHIR-based standards to address challenges. Patients, providers, payer, researchers and others are realizing the need for standards that provide semantic interoperability (and the costs of  not using such standards). Recent Government rules and regulations are driving a common unpinning – like USCDI, FHIR, US Core, TEFCA [spell out and link?] – for future specialty standards. Vendors are working to meet customer demands and Government direction, delivering products increasingly based on standards. Formerly disparate elements are converging.</p>

      
      <h3 id="intended_audience">Audience for this Site</h3>
      <p>This site is intended to be helpful for a range of organizations and people. The site should help specialty leaders considering replicating the model pioneered by the CodeX for their domain and/or working more closely with CodeX and other specialties to speed work and increase coherency. Parts of the site may be particularly useful to stakeholders (e.g., patient organizations, specialty societies, government agencies, payers, vendors, etc.) and roles (e.g., decision makers, project managers, clinical experts, informaticists, system engineers, etc.) involved in just a subset of the spectrum of all future work. </p>
  
      <h3 id="organization">Organization of this Site</h3>
      <p>The core of this site provides background on each of the five tracks, honed over time, that provide a framework for and facilitate CodeX work. [NOTE: slide 5 – suggest the graphic provide links to sections that go into more detail on each track].  Also provided are Case Studies with the history of activities, outcomes, and implications that may be useful for new specialties.</p>
  
     
      <div class="playbook-bottom-navigation">
        <div class="previous"><%= link_to("Prev: High-level Summary", "index.html") %></div>
        <div class="next"><%= link_to("Next: Building Community", "community.html") %></div>
      </div>
    </div>
  </div>
</div>
