---
title: Summary
pagetitle: Summary
theme: playbook

---

<div class="container pt-5">

  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>  
    </div>
  
    <div class="col-md-9">
      <h2>Summary & Next Steps</h2>
      <p class="lead">Introductory paragraph on the Playbook summary and potential next steps.</p>
    <div class="playbook-bottom-navigation">
        <div class="previous">  <%= link_to("Prev: Adoption and Value", "adoption.html") %></div>
      </div>
    </div>
  </div>
</div>