---
title: Planning & Use Cases
pagetitle: Planning & Use Cases
theme: playbook
---

<div class="container pt-5">

  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>  
    </div>
  
    <div class="col-md-9">
      <h2>Planning & Use Cases</h2>
      <p class="lead">Introductory paragraph describing planning and use cases.</p>
    <div class="playbook-bottom-navigation">
        <div class="previous">  <%= link_to("Prev: Building Community", "community.html") %></div>
        <div class="next"><%= link_to("Next: Standards Development", "standards.html") %></div>
      </div>
    </div>
  </div>
</div>
