---
title: About the Playbook
---

<div class="container pt-5">
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>About the Playbook</h1>
    <div class="h5">By Mabel Pines</div>
    <p class="lead">Ea sed vivendo offendit persecuti, porro animal ludus dignissim debet molestiae constituto ne, quo consul interesset ei, cotidieque theophrastus nominavi suavitate deterruisset qui, assum ubique quodsi partem vocent vel, ius id viris utinam.</p>
    <%= image_tag 'blank-image.png', :width => '100%', :class => 'py-5' %>
    <p>Dicat eripuit accumsan ad est. Facer facilisi ius ei, ea has cetero argumentum, vel at fugit temporibus. Deseruisse definitionem his et, an has veri integre abhorreant, nam alii epicurei et. Ei ferri aperiri pri. Nemore facilisi mediocrem at duo, zril ancillae ea sit. Ea eos essent ornatus percipit, mea an persecuti pertinacia, te suas semper per. Et qui debet veritus, ei qui utroque luptatum sadipscing.</p>

    <h3>Pellentesque elit ullamcorper dignissim</h3>
    <div class="row">
      <div class="col-sm-6 my-3">
        <p>An mel corpora consectetuer. Duo veri eripuit honestatis ei. Mandamus expetenda has ex. Eu minim movet quodsi eum. Et vim dolore epicurei, ut aeque postea nam, at posse dicta.</p>
      </div>
      <div class="col-sm-6 my-3">
        <p>Pri ea vivendo omnesque, eos lobortis inimicus mediocritatem id. Pro ad ubique erroribus, in modo mutat sed. Ei vix quot suscipit, natum animal qui et. Usu vitae decore ut. <a href="#">Continue reading...</a></p>
      </div>
      
    <h3>Consectetur adipiscing elit duis tristique</h3>
    <p>Erroribus vituperatoribus no eos, no nobis alienum per. Dolor contentiones qui ei, exerci dissentiet comprehensam eum ne. Quo in tacimates recusabo scripserit, in mea tantas soleat imperdiet, ut vim illum dicam disputationi. Unum porro audiam at vel, eu nam primis regione.</p>
    <p>Nibh nisl condimentum id venenatis. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Aliquam sem fringilla ut morbi. Risus feugiat in ante metus. Etiam sit amet nisl purus in mollis nunc. Interdum varius sit amet mattis vulputate enim nulla aliquet. Sit amet consectetur adipiscing elit ut aliquam. Tincidunt lobortis feugiat vivamus at. Turpis tincidunt id aliquet risus. Vitae auctor eu augue ut lectus arcu. Volutpat consequat mauris nunc congue nisi vitae suscipit. Odio morbi quis commodo odio aenean sed adipiscing. Proin sed libero enim sed faucibus turpis in eu mi.</p>
    <p>Mea an decore veritus probatus. Nec ea affert verterem. Vix probo semper et, mea simul graeco diceret te. Qui no stet ferri qualisque, ut clita scripserit nec. Ei mei fabellas gubergren, ius nostro senserit adversarium te. Vix dicam dolore cu. Mel erat timeam scriptorem an. Sit alii tantas viderer no.</p>
    
  </div>    
  <div class="about-author">
    <div class="h5">Organization</div>
    <h4>MITRE Corporation</h4>
    <p>Te aliquam noluisse epicuri detracto indoctum, et fierent pericula vim, veniam epicuri an eum.  Facilisis volutpat est velit egestas dui id. Consectetur adipiscing elit duis tristique sollicitudin.</p>
  </div>
  <div class="about-author">
    <div class="h5">Organization</div>
    <h4>CodeX™ | FHIR | HL7 Accelerator</h4>
    <p>CodeX is a global member-driven community of healthcare stakeholders focused on solving the problem of silos endemic to our current healthcare system for specialty health data.</p>
    <p><%= link_to("Visit CodeX", "https://codex.hl7.org") %></p>

  </div>
  
  
  </div>
</div>

</div>
