---
title: Resources
theme: resources
directory_index: false
---
<div class="container">
  <div class="row">
    <div class="col-md-6 pt-5 mb-3">
      <h1>Resources</h1>
      <p>This page contains links to websites, presenttions, videos, files, code, and other resources referenced in the Playbook.</p>

<h2>Playbook Tracks</h2>
<h3>Community Building</h3>
<h3>Use Cases & Planning</h3>
<h3>Standards Development</h3>
<h3>Implementation & Testing<h3>
<h3>Adoption & Value<h3> 
<h2>Case Studies</h2>
<h3>mCODE Standard and CodeX Community</h3>
<h3>CodeX Radiation Therapy Treatment Data Use Case</h3>
<h3>PACIO</h3>
    </div>
  </div>


</div>
