---
title: Resources
theme: resources
directory_index: false
---
<div class="container">
  <div class="row">
    <div class="col-md-6 pt-5 mb-3">
      <h1>Resources</h1>
      <p>This page will contain links to resources, files, code, etc. referenced by the playbook or case studies.</p>
    </div>
  </div>


</div>
